@import url('./_item/video__container_item.css');

.video__container {
    width: 1184px;
    height: 323px;
    margin: 72px auto 0;
    display: grid;
    grid-template-columns: 583px 583px;
    grid-column-gap: 18px;
}

.video__container a:hover {
    opacity: 1;
}

@media (max-width : 1184px) {
    .video__container {
        width:928px;
        grid-template-columns: 456px 456px;
        grid-column-gap: 16px;
    }
}

@media (max-width : 940px) {
    .video__container {
        width: 720px;
        grid-template-columns: 352px 352px;
        grid-column-gap: 16px;
    }
}

@media (max-width : 730px) {
    .video__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}

