@import url('./__content/video__content-title.css');
@import url('./__content/video__content-subtitle.css');
@import url('./__container/video__container.css');

.video {
    margin: 102px auto 0;
    width: 1184px;
    height: auto;
}

@media (max-width : 1279px) {
    .video {
        max-width: 95%;
    }
}

@media (max-width : 500px) {
    .video {
        margin-top: 64px;
    }
}

