.popup__error {
    position: absolute;
    font-family: Inter;
    font-size: 12px;
    line-height: 14px;
    margin-top: 4px;
    cursor: default;
    display: none;

    color: #FF0000;
}

.popup__error-active {
    display: block;
}

.popup__error:first-of-type {
    margin-top: -20px;
}

.popup__error-profile:first-of-type {
    margin-top: 4px;
}